<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Gentium+Basic|Vidaloka" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "homepage/homepage.css" %}>
    <title>Kyle Levy</title>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-sm navbar-dark" id="main-nav">
    <a class="navbar-brand" href="#">Kyle Levy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#about">About</a>
            <a class="nav-item nav-link" href="#projects">Projects</a>
            <a class="nav-item nav-link" href="#skills">Skills</a>
            <a class="nav-item nav-link" href="#contact">Contact</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row" id="profile-row">
        <div class="col">
            <div class="text-center">
                <img src="{% static "homepage/kyle_levy_profile.jpg" %}" class="rounded m-4" id="profile-pic">
            </div>
        </div>
    </div>
    <section id="about">
        <div class="row">
            <div class="col text-center">
                <h2>About Me</h2>
                <div class="row justify-content-md-center">
                    <div class="col-4">
                        <h5>As a Software Developer</h5>
                        <p class="text-left">My name is Kyle Levy and I am a student studying Computer Engineering at the University of
                            Iowa, focusing on Software
                            Engineering. Throughout my time at the University, I've experienced a variety of languages, and have a preference for working in the backend, but also enjoy seeing what
                            Bootstrap and Javascript have to offer on the frontend. </p>
                    </div>
                    <div class="col-3">
                        <h5>As a Person</h5>
                        <ul class="text-left">
                            <li><strong>Activities:</strong> Swimming, Water Polo, Weightlifting, Cycling</li>
                            <li><strong>Hobbies:</strong> Building Computers, Mechanical Keyboards, Cooking, and Reading</li>
                            <li><strong>Favorite Dish to Cook:</strong> Beef Stew</li>
                            <li><strong>Favorite Author:</strong> J.R.R. Tolkien</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="projects">
        <div class="row">
            <div class="col text-center">
                <h2>Projects</h2>
            </div>
        </div>
    </section>
    <section id="skills">
        <div class="row">
            <div class="col text-center">
                <h2>Skills</h2>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="row">
            <div class="col text-center">
                <h2>Contact</h2>
            </div>
        </div>
    </section>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>